# Sample gitconfig
#
# This is a sample gitconfig. Usually we keep a lot of sensitive information
# here (things like authentication tokens, email addresses, and so on), so this
# file is ignored in this project's .gitignore.
#
# To set this up, rename this file to `gitconfig.symlink` and you'll be able to
# install this to the correct location by running the project's main `rake`
# task.
[user]
        name = Zach Holman
        email = your@example.com
[alias]
        promote = !$DOTFILES/bin/git-promote
        wtf     = !$DOTFILES/bin/git-wtf
        rank-contributers = !$DOTFILES/bin/git-rank-contributers
        count   = !git shortlog -sn
        co = checkout
        st = status
        b = branch
        ci = commit
        last = 'log -1 HEAD'
        branch-name = "!git rev-parse --abbrev-ref HEAD"
        publish = "!git push -u origin $(git branch-name)"
        b-alex = "!git branch --sort=-committerdate | grep alex/"
        recents = "!git for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(refname:short)' | grep -e alex/ | head -n 10"
        mine = "!git for-each-ref refs/heads/ --format='%(committerdate:short) %(refname:short)' | grep -e alex/"
        pmb = !git checkout master && git pull -p && git branch --merged master | grep -v \"\\* master\" | xargs -n 1 git branch -d
[color]
        diff = auto
        status = auto
        branch = auto
[core]
        excludesfile = ~/.gitignore
        editor = mate -w
[apply]
        whitespace = nowarn
[github]
        user = holman
[mergetool]
        keepBackup = false
