# 
#  .gitignore
#  matplotlib
#  
#  Created by Jaberwocky on 2013-08-26.
#  Copyright 2013 Jaberwocky. All rights reserved.
# 
matplotlib.dir/tex.*
matplotlib.dir/*.cache
matplotlib.dir/fontList.json
